<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="debug" value="false" />
		<add key="headless" value="false" />
		<add key="browser" value="Chrome" />
		<add key="url" value="https://candidatex:qa-is-cool@qa-task.backbasecloud.com/" />
		<add key="WEBDRIVERTIMEOUT" value="10" />
		<add key="DownloadedFolderPath" value="C:\Users\i9076\Downloads\" />
		<add key="DownloadReportWaitTime" value="12000" />
		<add key="PATH_EXTENT_REPORT" value=".\Html Report" />
		<add key="username" value="autotest1" />
		<add key="useremail" value="adbc123@gmail.com" />
		<add key="userpass" value="1234#$%^7" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
